
GT6EZPZ/minecraft/versions

GT6EZPZ/minecraft/versions

*.dat

*.mca

*.nbt

GT6EZPZ/minecraft/logs

GT6EZPZ/minecraft/assets

GT6EZPZ/.minecraft/launcher_profiles.json

GT6EZPZ/.oracle_jre_usage/613bcfb3a06ef613.timestamp

GT6EZPZ/hmcl.log

GT6EZPZ/minecraft/asm

GT6EZPZ/minecraft/libraries

GT6EZPZ/minecraft/local

GT6EZPZ/minecraft/saves

GT6EZPZ/minecraft/usercache.json

GT6EZPZ/minecraft/TI_Transformer.log

GT6EZPZ/minecraft/usernamecache.json

GT6EZPZ/minecraft/optionsof.txt

*.log

GT6EZPZ/minecraft/options.txt

GT6EZPZ/minecraft/journeymap

GT6EZPZ/minecraft/dumps

GT6EZPZ/minecraft/modpack/gamemodes.json

GT6EZPZ/minecraft/launcher_profiles.json

GT6EZPZ/minecraft/instance.json

GT6EZPZ/minecraft/betterfps.txt

GT6EZPZ/minecraft/debug

GT6EZPZ/hmcl.json

GT6EZPZ/HMCL-2.6.0.1.jar
