# Configuration file

"scanner_(visuals)" {
    I:"gt.multiitem.books.0;gt.multiitem.technological.32001;_512"=512
    I:"gt.multiitem.books.1000;gt.multiitem.technological.32001;_512"=512
    I:"gt.multiitem.books.1001;gt.multiitem.technological.32001;_512"=512
    I:"gt.multiitem.books.1002;gt.multiitem.technological.32001;_512"=512
    I:"gt.multiitem.books.1003;gt.multiitem.technological.32001;_512"=512
    I:"gt.multiitem.books.1004;gt.multiitem.technological.32001;_512"=512
    I:"gt.multiitem.books.1005;gt.multiitem.technological.32001;_512"=512
    I:"gt.multiitem.books.1006;gt.multiitem.technological.32001;_512"=512
    I:"gt.multiitem.books.1007;gt.multiitem.technological.32001;_512"=512
    I:"gt.multiitem.books.1;gt.multiitem.technological.32001;_512"=512
    I:"gt.multiitem.books.2;gt.multiitem.technological.32001;_512"=512
    I:"gt.multiitem.books.32000;gt.multiitem.technological.32001;_512"=512
    I:"gt.multiitem.books.32001;gt.multiitem.technological.32001;_512"=512
    I:"gt.multiitem.books.32002;gt.multiitem.technological.32001;_512"=512
    I:"gt.multiitem.books.32003;gt.multiitem.technological.32001;_512"=512
    I:"gt.multiitem.books.3;gt.multiitem.technological.32001;_512"=512
    I:"gt.multiitem.books.4;gt.multiitem.technological.32001;_512"=512
    I:"gt.multiitem.books.5;gt.multiitem.technological.32001;_512"=512
    I:"gt.multiitem.books.6;gt.multiitem.technological.32001;_512"=512
    I:"gt.multiitem.books.7;gt.multiitem.technological.32001;_512"=512
    I:"gt.multiitem.randomtools.7002;gt.multiitem.technological.32001;_512"=512
    I:"gt.multiitem.randomtools.7003;gt.multiitem.technological.32001;_512"=512
    I:"gt.multiitem.randomtools.7011;gt.multiitem.technological.32001;_64"=64
    I:"gt.multiitem.randomtools.7030;gt.multiitem.technological.32001;_64"=64
    I:"gt.multiitem.randomtools.7031;gt.multiitem.technological.32001;_64"=64
    I:"gt.multiitem.randomtools.7032;gt.multiitem.technological.32001;_64"=64
    I:"gt.multiitem.randomtools.7033;gt.multiitem.technological.32001;_64"=64
    I:"gt.multiitem.randomtools.7034;gt.multiitem.technological.32001;_64"=64
    I:"gt.multiitem.randomtools.7035;gt.multiitem.technological.32001;_64"=64
    I:"gt.multiitem.randomtools.7036;gt.multiitem.technological.32001;_64"=64
    I:"gt.multiitem.randomtools.7037;gt.multiitem.technological.32001;_64"=64
    I:"gt.multiitem.randomtools.7038;gt.multiitem.technological.32001;_64"=64
    I:"gt.multiitem.randomtools.7039;gt.multiitem.technological.32001;_64"=64
    I:"gt.multiitem.randomtools.7040;gt.multiitem.technological.32001;_64"=64
    I:"gt.multiitem.randomtools.7041;gt.multiitem.technological.32001;_64"=64
    I:"gt.multiitem.randomtools.7042;gt.multiitem.technological.32001;_64"=64
    I:"gt.multiitem.randomtools.7043;gt.multiitem.technological.32001;_64"=64
    I:"gt.multiitem.randomtools.7044;gt.multiitem.technological.32001;_64"=64
    I:"gt.multiitem.randomtools.7045;gt.multiitem.technological.32001;_64"=64
    I:"item.map;gt.multiitem.technological.32001;_64"=64
    I:"item.writtenBook;gt.multiitem.technological.32001;_512"=512
    I:"tile.workbench;gt.multiitem.technological.32001;_512"=512
}


