# Configuration file

##########################################################################################################
# both
#--------------------------------------------------------------------------------------------------------#
# Settings controlled by both.
# Client can be different from server.
# If client differs from server, server can disable client's setting if false.
##########################################################################################################

both {
    B:"Should the mod be used?"=true
}


##########################################################################################################
# client
#--------------------------------------------------------------------------------------------------------#
# Settings controlled client.
# Can vary from server to server.
##########################################################################################################

client {
    B:hasParticles=true
    S:tableParticles=portal
}


##########################################################################################################
# enchantments
#--------------------------------------------------------------------------------------------------------#
# Enchantments can be disabled to be enchantable in the table.
# Controlled on the server side
##########################################################################################################

enchantments {
    B:"Eternal Compass"=true
    S:"Eternal Compass-ToolTip"=
    B:Reading=true
    S:Reading-ToolTip=
    B:enchant.cofh.holding=true
    S:enchant.cofh.holding-ToolTip=
    B:enchant.cofh.multishot=true
    S:enchant.cofh.multishot-ToolTip=
    B:enchantment.archmage=true
    S:enchantment.archmage-ToolTip=
    B:enchantment.arrowDamage=true
    S:enchantment.arrowDamage-ToolTip=Increases damage
    B:enchantment.arrowFire=true
    S:enchantment.arrowFire-ToolTip=Flaming arrows
    B:enchantment.arrowInfinite=true
    S:enchantment.arrowInfinite-ToolTip=Shooting consumes no arrows
    B:enchantment.arrowKnockback=true
    S:enchantment.arrowKnockback-ToolTip=Increases knockback
    B:enchantment.cluster=true
    S:enchantment.cluster-ToolTip=
    B:enchantment.consuming=true
    S:enchantment.consuming-ToolTip=
    B:enchantment.control=true
    S:enchantment.control-ToolTip=
    B:enchantment.coralium=true
    S:enchantment.coralium-ToolTip=
    B:enchantment.corrupting=true
    S:enchantment.corrupting-ToolTip=
    B:enchantment.crush=true
    S:enchantment.crush-ToolTip=
    B:enchantment.damage.all=true
    S:enchantment.damage.all-ToolTip=Extra damage
    B:enchantment.damage.arthropods=true
    S:enchantment.damage.arthropods-ToolTip=Extra damage to spiders, cave spiders and silverfish
    B:enchantment.damage.endermen=true
    S:enchantment.damage.endermen-ToolTip=
    B:enchantment.damage.frost=true
    S:enchantment.damage.frost-ToolTip=
    B:enchantment.damage.legendary=true
    S:enchantment.damage.legendary-ToolTip=
    B:enchantment.damage.lifesteal=true
    S:enchantment.damage.lifesteal-ToolTip=
    B:enchantment.damage.magic=true
    S:enchantment.damage.magic-ToolTip=
    B:enchantment.damage.quake=true
    S:enchantment.damage.quake-ToolTip=
    B:enchantment.damage.radioactivity=true
    S:enchantment.damage.radioactivity-ToolTip=
    B:enchantment.damage.rare=true
    S:enchantment.damage.rare-ToolTip=
    B:enchantment.damage.shadow=true
    S:enchantment.damage.shadow-ToolTip=
    B:enchantment.damage.slime=true
    S:enchantment.damage.slime-ToolTip=
    B:enchantment.damage.undead=true
    S:enchantment.damage.undead-ToolTip=Extra damage to undead mobs
    B:enchantment.damage.void=true
    S:enchantment.damage.void-ToolTip=
    B:enchantment.damage.werewolf=true
    S:enchantment.damage.werewolf-ToolTip=
    B:enchantment.damage.wind=true
    S:enchantment.damage.wind-ToolTip=
    B:enchantment.digging=true
    S:enchantment.digging-ToolTip=Faster resource gathering while in use
    B:enchantment.divinefavor=true
    S:enchantment.divinefavor-ToolTip=
    B:enchantment.divinemark=true
    S:enchantment.divinemark-ToolTip=
    B:enchantment.draconicevolution.reaperEnchant=true
    S:enchantment.draconicevolution.reaperEnchant-ToolTip=
    B:enchantment.dread=true
    S:enchantment.dread-ToolTip=
    B:enchantment.durability=true
    S:enchantment.durability-ToolTip=Increases durability
    B:enchantment.educational=true
    S:enchantment.educational-ToolTip=
    B:enchantment.fire=true
    S:enchantment.fire-ToolTip=Lights the target on fire
    B:enchantment.fishingSpeed=true
    S:enchantment.fishingSpeed-ToolTip=
    B:enchantment.gaiablessing=true
    S:enchantment.gaiablessing-ToolTip=
    B:enchantment.greedy=true
    S:enchantment.greedy-ToolTip=
    B:enchantment.haste=true
    S:enchantment.haste-ToolTip=Usable on boots and the Thaumostatic Harness only. Makes you move faster. Very effective on Boots of the Traveller, or the Thaumostatic Harness.
    B:enchantment.impact=true
    S:enchantment.impact-ToolTip=
    B:enchantment.intervention=true
    S:enchantment.intervention-ToolTip=
    B:enchantment.ironWall=true
    S:enchantment.ironWall-ToolTip=
    B:enchantment.knockback=true
    S:enchantment.knockback-ToolTip=Increases knockback
    B:enchantment.lootBonus=true
    S:enchantment.lootBonus-ToolTip=Mobs can drop more loot
    B:enchantment.lootBonusDigger=true
    S:enchantment.lootBonusDigger-ToolTip=Increases the drop rate of items from blocks
    B:enchantment.lootBonusFishing=true
    S:enchantment.lootBonusFishing-ToolTip=
    B:enchantment.overpower=true
    S:enchantment.overpower-ToolTip=
    B:enchantment.oxygen=true
    S:enchantment.oxygen-ToolTip=Decreases the rate of air loss underwater; increases time between damage while suffocating and drowning
    B:enchantment.protect.all=true
    S:enchantment.protect.all-ToolTip=Reduces damage from all sources
    B:enchantment.protect.explosion=true
    S:enchantment.protect.explosion-ToolTip=Protection against explosion damage; reduces explosion recoil
    B:enchantment.protect.fall=true
    S:enchantment.protect.fall-ToolTip=Protection against fall damage
    B:enchantment.protect.fire=true
    S:enchantment.protect.fire-ToolTip=Protection against fire damage; fire is extinguished faster
    B:enchantment.protect.magic=true
    S:enchantment.protect.magic-ToolTip=
    B:enchantment.protect.projectile=true
    S:enchantment.protect.projectile-ToolTip=Protection against damage from projectile entities
    B:enchantment.protect.void=true
    S:enchantment.protect.void-ToolTip=
    B:enchantment.railcraft.crowbar.destruction=true
    S:enchantment.railcraft.crowbar.destruction-ToolTip=
    B:enchantment.railcraft.crowbar.implosion=true
    S:enchantment.railcraft.crowbar.implosion-ToolTip=
    B:enchantment.railcraft.crowbar.wrecking=true
    S:enchantment.railcraft.crowbar.wrecking-ToolTip=
    B:enchantment.recharge=true
    S:enchantment.recharge-ToolTip=
    B:enchantment.repair=true
    S:enchantment.repair-ToolTip=Consumes vis from the local aura to repair the item with this enchantment
    B:enchantment.sever=true
    S:enchantment.sever-ToolTip=
    B:enchantment.shell=true
    S:enchantment.shell-ToolTip=
    B:enchantment.slice=true
    S:enchantment.slice-ToolTip=
    B:enchantment.thorns=true
    S:enchantment.thorns-ToolTip=This enchantment has a 15% chance per level to damage mobs that hurt the wearer by half a heart to two hearts. This enchantment can be applied to all armour types. 
    B:"enchantment.ttinkerer:ascentBoost"=true
    S:"enchantment.ttinkerer:ascentBoost-ToolTip"=
    B:"enchantment.ttinkerer:autoSmelt"=true
    S:"enchantment.ttinkerer:autoSmelt-ToolTip"=
    B:"enchantment.ttinkerer:desintegrate"=true
    S:"enchantment.ttinkerer:desintegrate-ToolTip"=
    B:"enchantment.ttinkerer:dispersedStrike"=true
    S:"enchantment.ttinkerer:dispersedStrike-ToolTip"=
    B:"enchantment.ttinkerer:finalStrike"=true
    S:"enchantment.ttinkerer:finalStrike-ToolTip"=
    B:"enchantment.ttinkerer:focusedStrike"=true
    S:"enchantment.ttinkerer:focusedStrike-ToolTip"=
    B:"enchantment.ttinkerer:pounce"=true
    S:"enchantment.ttinkerer:pounce-ToolTip"=
    B:"enchantment.ttinkerer:quickDraw"=true
    S:"enchantment.ttinkerer:quickDraw-ToolTip"=
    B:"enchantment.ttinkerer:shatter"=true
    S:"enchantment.ttinkerer:shatter-ToolTip"=
    B:"enchantment.ttinkerer:shockwave"=true
    S:"enchantment.ttinkerer:shockwave-ToolTip"=
    B:"enchantment.ttinkerer:slowFall"=true
    S:"enchantment.ttinkerer:slowFall-ToolTip"=
    B:"enchantment.ttinkerer:tunnel"=true
    S:"enchantment.ttinkerer:tunnel-ToolTip"=
    B:"enchantment.ttinkerer:valiance"=true
    S:"enchantment.ttinkerer:valiance-ToolTip"=
    B:"enchantment.ttinkerer:vampirism"=true
    S:"enchantment.ttinkerer:vampirism-ToolTip"=
    B:enchantment.untouching=true
    S:enchantment.untouching-ToolTip=Mined blocks will drop themselves instead of the item(s) it should drop
    B:enchantment.voidtouched=true
    S:enchantment.voidtouched-ToolTip=
    B:enchantment.waterWorker=true
    S:enchantment.waterWorker-ToolTip=Increases underwater mining rate
    B:enchantment.windfury=true
    S:enchantment.windfury-ToolTip=
    B:enchantment.wrath=true
    S:enchantment.wrath-ToolTip=
    B:gadomancy.enchantment.revealer=true
    S:gadomancy.enchantment.revealer-ToolTip=
    B:永恒罗盘=true
    S:永恒罗盘-ToolTip=
    B:读取=true
    S:读取-ToolTip=
}


##########################################################################################################
# server
#--------------------------------------------------------------------------------------------------------#
# Settings controlled by server.
##########################################################################################################

server {
    B:"Are bookshelves required to do an enchantment?"=true
    I:"At when level do players need to have bookshelves?"=5
    B:"Can players disenchant items they have not enchanted?"=false
    B:"Can the table disenchant items?"=true
    B:"Can the table enchant damaged items?"=true
    B:"Can the table repair items?"=true
    B:"Disregard item type?"=false
    D:"How blast resistant is the table?"=2000.0
    D:"How long to break the table?"=5.0
    B:"Should the table have light?"=true
    I:"What is the cost factor?"=5
    I:"What is the repair factor"=5
}


