# Configuration file

fluids {
    S:fluid.acrylicfluid.cardrank=
    S:fluid.acrylicfluid.grammar=
    S:fluid.acrylicfluid.instability.factor_accessibility=
    S:fluid.acrylicfluid.instability.factor_flat=
    S:fluid.acrylicfluid.seabanned=
    S:fluid.actuallyadditions.canolaoil.cardrank=
    S:fluid.actuallyadditions.canolaoil.grammar=
    S:fluid.actuallyadditions.canolaoil.instability.factor_accessibility=
    S:fluid.actuallyadditions.canolaoil.instability.factor_flat=
    S:fluid.actuallyadditions.canolaoil.seabanned=
    S:fluid.aerotheum.cardrank=
    S:fluid.aerotheum.grammar=
    S:fluid.aerotheum.instability.factor_accessibility=
    S:fluid.aerotheum.instability.factor_flat=
    S:fluid.amethystfluid.cardrank=
    S:fluid.amethystfluid.grammar=
    S:fluid.amethystfluid.instability.factor_accessibility=
    S:fluid.amethystfluid.instability.factor_flat=
    S:fluid.amethystfluid.seabanned=
    S:fluid.apatitefluid.cardrank=
    S:fluid.apatitefluid.grammar=
    S:fluid.apatitefluid.instability.factor_accessibility=
    S:fluid.apatitefluid.instability.factor_flat=
    S:fluid.apatitefluid.seabanned=
    S:fluid.bacterialsludge.cardrank=
    S:fluid.bacterialsludge.grammar=
    S:fluid.bacterialsludge.instability.factor_accessibility=
    S:fluid.bacterialsludge.instability.factor_flat=
    S:fluid.bacterialsludge.seabanned=
    S:fluid.bioethanol.cardrank=
    S:fluid.bioethanol.grammar=
    S:fluid.bioethanol.instability.factor_accessibility=
    S:fluid.bioethanol.instability.factor_flat=
    S:fluid.bioethanol.seabanned=
    S:fluid.biofuel.cardrank=
    S:fluid.biofuel.grammar=
    S:fluid.biofuel.instability.factor_accessibility=
    S:fluid.biofuel.instability.factor_flat=
    S:fluid.biofuel.seabanned=
    S:fluid.biomass.cardrank=
    S:fluid.biomass.grammar=
    S:fluid.biomass.instability.factor_accessibility=
    S:fluid.biomass.instability.factor_flat=
    S:fluid.biomass.seabanned=
    S:fluid.chloridricfluid.cardrank=
    S:fluid.chloridricfluid.grammar=
    S:fluid.chloridricfluid.instability.factor_accessibility=
    S:fluid.chloridricfluid.instability.factor_flat=
    S:fluid.chloridricfluid.seabanned=
    S:fluid.chromealumfluid.cardrank=
    S:fluid.chromealumfluid.grammar=
    S:fluid.chromealumfluid.instability.factor_accessibility=
    S:fluid.chromealumfluid.instability.factor_flat=
    S:fluid.chromealumfluid.seabanned=
    S:fluid.coal.cardrank=
    S:fluid.coal.grammar=
    S:fluid.coal.instability.factor_accessibility=
    S:fluid.coal.instability.factor_flat=
    S:fluid.coal.seabanned=
    S:fluid.coppersulfatefluid.cardrank=
    S:fluid.coppersulfatefluid.grammar=
    S:fluid.coppersulfatefluid.instability.factor_accessibility=
    S:fluid.coppersulfatefluid.instability.factor_flat=
    S:fluid.coppersulfatefluid.seabanned=
    S:fluid.creosote.cardrank=
    S:fluid.creosote.grammar=
    S:fluid.creosote.instability.factor_accessibility=
    S:fluid.creosote.instability.factor_flat=
    S:fluid.creosote.seabanned=
    S:fluid.cryotheum.cardrank=
    S:fluid.cryotheum.grammar=
    S:fluid.cryotheum.instability.factor_accessibility=
    S:fluid.cryotheum.instability.factor_flat=
    S:fluid.cryotheum.seabanned=
    S:fluid.densesteam.cardrank=
    S:fluid.densesteam.grammar=
    S:fluid.densesteam.instability.factor_accessibility=
    S:fluid.densesteam.instability.factor_flat=
    S:fluid.ender.cardrank=
    S:fluid.ender.grammar=
    S:fluid.ender.instability.factor_accessibility=
    S:fluid.ender.instability.factor_flat=
    S:fluid.ender.seabanned=
    S:fluid.etchacid.cardrank=
    S:fluid.etchacid.grammar=
    S:fluid.etchacid.instability.factor_accessibility=
    S:fluid.etchacid.instability.factor_flat=
    S:fluid.etchacid.seabanned=
    S:fluid.ferricyanidefluid.cardrank=
    S:fluid.ferricyanidefluid.grammar=
    S:fluid.ferricyanidefluid.instability.factor_accessibility=
    S:fluid.ferricyanidefluid.instability.factor_flat=
    S:fluid.ferricyanidefluid.seabanned=
    S:fluid.fluoridricfluid.cardrank=
    S:fluid.fluoridricfluid.grammar=
    S:fluid.fluoridricfluid.instability.factor_accessibility=
    S:fluid.fluoridricfluid.instability.factor_flat=
    S:fluid.fluoridricfluid.seabanned=
    S:fluid.for.honey.cardrank=
    S:fluid.for.honey.grammar=
    S:fluid.for.honey.instability.factor_accessibility=
    S:fluid.for.honey.instability.factor_flat=
    S:fluid.for.honey.seabanned=
    S:fluid.fuel.cardrank=
    S:fluid.fuel.grammar=
    S:fluid.fuel.instability.factor_accessibility=
    S:fluid.fuel.instability.factor_flat=
    S:fluid.fuel.seabanned=
    S:fluid.fusionplasma.cardrank=
    S:fluid.fusionplasma.grammar=
    S:fluid.fusionplasma.instability.factor_accessibility=
    S:fluid.fusionplasma.instability.factor_flat=
    S:fluid.gendustry.liquiddna.cardrank=
    S:fluid.gendustry.liquiddna.grammar=
    S:fluid.gendustry.liquiddna.instability.factor_accessibility=
    S:fluid.gendustry.liquiddna.instability.factor_flat=
    S:fluid.gendustry.liquiddna.seabanned=
    S:fluid.gendustry.mutagen.cardrank=
    S:fluid.gendustry.mutagen.grammar=
    S:fluid.gendustry.mutagen.instability.factor_accessibility=
    S:fluid.gendustry.mutagen.instability.factor_flat=
    S:fluid.gendustry.mutagen.seabanned=
    S:fluid.gendustry.protein.cardrank=
    S:fluid.gendustry.protein.grammar=
    S:fluid.gendustry.protein.instability.factor_accessibility=
    S:fluid.gendustry.protein.instability.factor_flat=
    S:fluid.gendustry.protein.seabanned=
    S:fluid.glass.cardrank=
    S:fluid.glass.grammar=
    S:fluid.glass.instability.factor_accessibility=
    S:fluid.glass.instability.factor_flat=
    S:fluid.glass.seabanned=
    S:fluid.glowstone.cardrank=
    S:fluid.glowstone.grammar=
    S:fluid.glowstone.instability.factor_accessibility=
    S:fluid.glowstone.instability.factor_flat=
    S:fluid.hell_blood.cardrank=
    S:fluid.hell_blood.grammar=
    S:fluid.hell_blood.instability.factor_accessibility=
    S:fluid.hell_blood.instability.factor_flat=
    S:fluid.hell_blood.seabanned=
    S:fluid.honey.cardrank=
    S:fluid.honey.grammar=
    S:fluid.honey.instability.factor_accessibility=
    S:fluid.honey.instability.factor_flat=
    S:fluid.honey.seabanned=
    S:fluid.ice.cardrank=
    S:fluid.ice.grammar=
    S:fluid.ice.instability.factor_accessibility=
    S:fluid.ice.instability.factor_flat=
    S:fluid.ice.seabanned=
    S:fluid.juice.cardrank=
    S:fluid.juice.grammar=
    S:fluid.juice.instability.factor_accessibility=
    S:fluid.juice.instability.factor_flat=
    S:fluid.juice.seabanned=
    S:fluid.kerosene.cardrank=
    S:fluid.kerosene.grammar=
    S:fluid.kerosene.instability.factor_accessibility=
    S:fluid.kerosene.instability.factor_flat=
    S:fluid.kerosene.seabanned=
    S:fluid.liquid_extra_heavy_oil.cardrank=
    S:fluid.liquid_extra_heavy_oil.grammar=
    S:fluid.liquid_extra_heavy_oil.instability.factor_accessibility=
    S:fluid.liquid_extra_heavy_oil.instability.factor_flat=
    S:fluid.liquid_extra_heavy_oil.seabanned=
    S:fluid.liquid_heavy_oil.cardrank=
    S:fluid.liquid_heavy_oil.grammar=
    S:fluid.liquid_heavy_oil.instability.factor_accessibility=
    S:fluid.liquid_heavy_oil.instability.factor_flat=
    S:fluid.liquid_heavy_oil.seabanned=
    S:fluid.liquid_light_oil.cardrank=
    S:fluid.liquid_light_oil.grammar=
    S:fluid.liquid_light_oil.instability.factor_accessibility=
    S:fluid.liquid_light_oil.instability.factor_flat=
    S:fluid.liquid_light_oil.seabanned=
    S:fluid.liquid_medium_oil.cardrank=
    S:fluid.liquid_medium_oil.grammar=
    S:fluid.liquid_medium_oil.instability.factor_accessibility=
    S:fluid.liquid_medium_oil.instability.factor_flat=
    S:fluid.liquid_medium_oil.seabanned=
    S:fluid.liquidhelium.cardrank=
    S:fluid.liquidhelium.grammar=
    S:fluid.liquidhelium.instability.factor_accessibility=
    S:fluid.liquidhelium.instability.factor_flat=
    S:fluid.liquidhelium.seabanned=
    S:fluid.liquidmethane.cardrank=
    S:fluid.liquidmethane.grammar=
    S:fluid.liquidmethane.instability.factor_accessibility=
    S:fluid.liquidmethane.instability.factor_flat=
    S:fluid.liquidmethane.seabanned=
    S:fluid.lpg.cardrank=
    S:fluid.lpg.grammar=
    S:fluid.lpg.instability.factor_accessibility=
    S:fluid.lpg.instability.factor_flat=
    S:fluid.lpg.seabanned=
    S:fluid.mana.cardrank=
    S:fluid.mana.grammar=
    S:fluid.mana.instability.factor_accessibility=
    S:fluid.mana.instability.factor_flat=
    S:fluid.mana.seabanned=
    S:fluid.mead.cardrank=
    S:fluid.mead.grammar=
    S:fluid.mead.instability.factor_accessibility=
    S:fluid.mead.instability.factor_flat=
    S:fluid.mead.seabanned=
    S:fluid.milk.cardrank=
    S:fluid.milk.grammar=
    S:fluid.milk.instability.factor_accessibility=
    S:fluid.milk.instability.factor_flat=
    S:fluid.milk.seabanned=
    S:fluid.milkfluid.cardrank=
    S:fluid.milkfluid.grammar=
    S:fluid.milkfluid.instability.factor_accessibility=
    S:fluid.milkfluid.instability.factor_flat=
    S:fluid.milkfluid.seabanned=
    S:fluid.milkhotfluid.cardrank=
    S:fluid.milkhotfluid.grammar=
    S:fluid.milkhotfluid.instability.factor_accessibility=
    S:fluid.milkhotfluid.instability.factor_flat=
    S:fluid.milkhotfluid.seabanned=
    S:fluid.myst.ink.black.cardrank=
    S:fluid.myst.ink.black.grammar=
    S:fluid.myst.ink.black.instability.factor_accessibility=
    S:fluid.myst.ink.black.instability.factor_flat=
    S:fluid.myst.ink.black.seabanned=
    S:fluid.nickelsulfatefluid.cardrank=
    S:fluid.nickelsulfatefluid.grammar=
    S:fluid.nickelsulfatefluid.instability.factor_accessibility=
    S:fluid.nickelsulfatefluid.instability.factor_flat=
    S:fluid.nickelsulfatefluid.seabanned=
    S:fluid.oil.cardrank=
    S:fluid.oil.grammar=
    S:fluid.oil.instability.factor_accessibility=
    S:fluid.oil.instability.factor_flat=
    S:fluid.oil.seabanned=
    S:fluid.petrotheum.cardrank=
    S:fluid.petrotheum.grammar=
    S:fluid.petrotheum.instability.factor_accessibility=
    S:fluid.petrotheum.instability.factor_flat=
    S:fluid.petrotheum.seabanned=
    S:fluid.plastic.cardrank=
    S:fluid.plastic.grammar=
    S:fluid.plastic.instability.factor_accessibility=
    S:fluid.plastic.instability.factor_flat=
    S:fluid.plastic.seabanned=
    S:fluid.poison.cardrank=
    S:fluid.poison.grammar=
    S:fluid.poison.instability.factor_accessibility=
    S:fluid.poison.instability.factor_flat=
    S:fluid.poison.seabanned=
    S:fluid.potashalumfluid.cardrank=
    S:fluid.potashalumfluid.grammar=
    S:fluid.potashalumfluid.instability.factor_accessibility=
    S:fluid.potashalumfluid.instability.factor_flat=
    S:fluid.potashalumfluid.seabanned=
    S:fluid.pyrotheum.cardrank=
    S:fluid.pyrotheum.grammar=
    S:fluid.pyrotheum.instability.factor_accessibility=
    S:fluid.pyrotheum.instability.factor_flat=
    S:fluid.pyrotheum.seabanned=
    S:fluid.redplasma.cardrank=
    S:fluid.redplasma.grammar=
    S:fluid.redplasma.instability.factor_accessibility=
    S:fluid.redplasma.instability.factor_flat=
    S:fluid.redplasma.seabanned=
    S:fluid.redstone.cardrank=
    S:fluid.redstone.grammar=
    S:fluid.redstone.instability.factor_accessibility=
    S:fluid.redstone.instability.factor_flat=
    S:fluid.redstone.seabanned=
    S:fluid.rennetfluid.cardrank=
    S:fluid.rennetfluid.grammar=
    S:fluid.rennetfluid.instability.factor_accessibility=
    S:fluid.rennetfluid.instability.factor_flat=
    S:fluid.rennetfluid.seabanned=
    S:fluid.saltywaterfluid.cardrank=
    S:fluid.saltywaterfluid.grammar=
    S:fluid.saltywaterfluid.instability.factor_accessibility=
    S:fluid.saltywaterfluid.instability.factor_flat=
    S:fluid.saltywaterfluid.seabanned=
    S:fluid.seedoil.cardrank=
    S:fluid.seedoil.grammar=
    S:fluid.seedoil.instability.factor_accessibility=
    S:fluid.seedoil.instability.factor_flat=
    S:fluid.seedoil.seabanned=
    S:fluid.short.mead.cardrank=
    S:fluid.short.mead.grammar=
    S:fluid.short.mead.instability.factor_accessibility=
    S:fluid.short.mead.instability.factor_flat=
    S:fluid.short.mead.seabanned=
    S:fluid.steam.cardrank=
    S:fluid.steam.grammar=
    S:fluid.steam.instability.factor_accessibility=
    S:fluid.steam.instability.factor_flat=
    S:fluid.sulfuricfluid.cardrank=
    S:fluid.sulfuricfluid.grammar=
    S:fluid.sulfuricfluid.instability.factor_accessibility=
    S:fluid.sulfuricfluid.instability.factor_flat=
    S:fluid.sulfuricfluid.seabanned=
    S:fluid.superdensesteam.cardrank=
    S:fluid.superdensesteam.grammar=
    S:fluid.superdensesteam.instability.factor_accessibility=
    S:fluid.superdensesteam.instability.factor_flat=
    S:"fluid.techno:manafluid.cardrank"=
    S:"fluid.techno:manafluid.grammar"=
    S:"fluid.techno:manafluid.instability.factor_accessibility"=
    S:"fluid.techno:manafluid.instability.factor_flat"=
    S:"fluid.techno:manafluid.seabanned"=
    S:fluid.tile.antiliquid.cardrank=
    S:fluid.tile.antiliquid.grammar=
    S:fluid.tile.antiliquid.instability.factor_accessibility=
    S:fluid.tile.antiliquid.instability.factor_flat=
    S:fluid.tile.antiliquid.seabanned=
    S:fluid.tile.cwater.cardrank=
    S:fluid.tile.cwater.grammar=
    S:fluid.tile.cwater.instability.factor_accessibility=
    S:fluid.tile.cwater.instability.factor_flat=
    S:fluid.tile.cwater.seabanned=
    S:fluid.unknowwater.cardrank=
    S:fluid.unknowwater.grammar=
    S:fluid.unknowwater.instability.factor_accessibility=
    S:fluid.unknowwater.instability.factor_flat=
    S:fluid.unknowwater.seabanned=
    S:ic2.fluidbiogas.cardrank=
    S:ic2.fluidbiogas.grammar=
    S:ic2.fluidbiogas.instability.factor_accessibility=
    S:ic2.fluidbiogas.instability.factor_flat=
    S:ic2.fluidbiomass.cardrank=
    S:ic2.fluidbiomass.grammar=
    S:ic2.fluidbiomass.instability.factor_accessibility=
    S:ic2.fluidbiomass.instability.factor_flat=
    S:ic2.fluidbiomass.seabanned=
    S:ic2.fluidconstructionfoam.cardrank=
    S:ic2.fluidconstructionfoam.grammar=
    S:ic2.fluidconstructionfoam.instability.factor_accessibility=
    S:ic2.fluidconstructionfoam.instability.factor_flat=
    S:ic2.fluidconstructionfoam.seabanned=
    S:ic2.fluidcoolant.cardrank=
    S:ic2.fluidcoolant.grammar=
    S:ic2.fluidcoolant.instability.factor_accessibility=
    S:ic2.fluidcoolant.instability.factor_flat=
    S:ic2.fluidcoolant.seabanned=
    S:ic2.fluiddistilledwater.cardrank=
    S:ic2.fluiddistilledwater.grammar=
    S:ic2.fluiddistilledwater.instability.factor_accessibility=
    S:ic2.fluiddistilledwater.instability.factor_flat=
    S:ic2.fluiddistilledwater.seabanned=
    S:ic2.fluidhotcoolant.cardrank=
    S:ic2.fluidhotcoolant.grammar=
    S:ic2.fluidhotcoolant.instability.factor_accessibility=
    S:ic2.fluidhotcoolant.instability.factor_flat=
    S:ic2.fluidhotcoolant.seabanned=
    S:ic2.fluidhotwater.cardrank=
    S:ic2.fluidhotwater.grammar=
    S:ic2.fluidhotwater.instability.factor_accessibility=
    S:ic2.fluidhotwater.instability.factor_flat=
    S:ic2.fluidhotwater.seabanned=
    S:ic2.fluidpahoehoelava.cardrank=
    S:ic2.fluidpahoehoelava.grammar=
    S:ic2.fluidpahoehoelava.instability.factor_accessibility=
    S:ic2.fluidpahoehoelava.instability.factor_flat=
    S:ic2.fluidpahoehoelava.seabanned=
    S:ic2.fluidsteam.cardrank=
    S:ic2.fluidsteam.grammar=
    S:ic2.fluidsteam.instability.factor_accessibility=
    S:ic2.fluidsteam.instability.factor_flat=
    S:ic2.fluidsuperheatedsteam.cardrank=
    S:ic2.fluidsuperheatedsteam.grammar=
    S:ic2.fluidsuperheatedsteam.instability.factor_accessibility=
    S:ic2.fluidsuperheatedsteam.instability.factor_flat=
    S:ic2.fluiduumatter.cardrank=
    S:ic2.fluiduumatter.grammar=
    S:ic2.fluiduumatter.instability.factor_accessibility=
    S:ic2.fluiduumatter.instability.factor_flat=
    S:ic2.fluiduumatter.seabanned=
}


instability {
    S:global.difficulty=
    B:global.enabled=true
}


